*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: 'Comfortaa', sans-serif;
  background-color: rgb(34, 34, 34);
}

body{
  font-size: calc(2 * (1vh + 1vw) / 2);
  overflow: hidden;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
  position: fixed;
  background-color: rgb(240, 240, 240);
  width: 100vw;
  height: 6vh;
  border-bottom: 1px solid rgb(34, 34, 34);
}
  header a{
    text-decoration: none;
    color: rgb(240, 240, 240);
    background-color: rgb(34, 34, 34);
    padding: 0 1vw;
    border-radius: calc(1vh + 1vw);
  }
